### This combination will ignore all files without extension ###

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

###############################################


# vscode
.vscode/*
**/.vscode/*

# Local History for Visual Studio Code
.history/


!uebung02/aufgabe2.1/run_test
!uebung02/aufgabe2.2/test_input
!Makefile