### This combination will ignore all files without extension ###

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

###############################################


# vscode
.vscode/*
**/.vscode/*

# Local History for Visual Studio Code
.history/